<!DOCTYPE html>
<html>
    <head>
        <title>فرموشی کلمه عبور</title>
    </head>

    <body>
        <div>
            <h3>کاربر گرامی {{ name }},</h3>
            <p>
                جهت بروز رسانی رمز عبور
                <a href="{{ url }}">کلیک کنید</a>
            </p>
            <br />
        </div>
    </body>
</html>
