<!DOCTYPE html>
<html>
    <head>
        <title>بروز رسانی رمز عبور</title>
    </head>

    <body>
        <div>
            <h3>کاربر گرامی {{ name }},</h3>
            <p>
                رمز عبور شما با موفقیت تغییر یافت
            </p>
            <br />
        </div>
    </body>
</html>
