<!DOCTYPE html>
<html>

<head>
    <title>فراموشی کلمه عبور</title>
    <style type="text/css">
        body {
            font-family: 'tahoma';
            direction: rtl
        }

        .irsans {
            font-family: 'tahoma';
        }

        .bg-success {
            background-image: linear-gradient(-90deg, red, yellow);
            height: 100px;
        }

        .bg-dark {
            background-color: darkgray;
            color: white;
        }

        .mt-5 {
            margin-top: 5%;
        }

        .pb-1 {
            padding-bottom: 5%;
        }

        .social {
            width: 32px;
            height: 32px;
            margin: 5px;
        }

        .footer hr {
            display: block;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            margin-left: auto;
            margin-right: auto;
            border-style: inset;
            border-width: 1px;
            color: white;
        }

        .p-1 {
            padding: 2px;
        }

        .m-1 {
            margin: 2px;
        }

        .text-success {
            color: green;
        }
    </style>
</head>

<body>
    <div>
        <div class="bg-success">
            <img src={{publicurl}} alt="logo" />
        </div>
        <h3>کاربر گرامی {{ name }}</h3>
        <p class="text-success">
            تبریک ، ثبت نام شما با موفقیت انجام شد
        </p>
        <br />
        <footer class=" page-footer bg-dark footer mt-5 pb-1">
            <div class="text-center  p-3">
                <div class="row">
                    <div class="col-md-4">
                        <div class="text-white mb-1">
                            <h3>ارتباط با ما</h3>
                            <hr>
                            <div class="card-body">
                                <h3>تلفن</h3>
                                <div class="d-flex flex-column">
                                    <label class="p-1 m-1">021-56232356</label>
                                    <label class="p-1 m-1">021-56232358</label>
                                    <label class="p-1 m-1">09124243227</label>
                                    <label class="p-1 m-1">09128355912</label>
                                </div>
                                <h3>ایمیل</h3>
                                <hr>
                                <div class="d-flex flex-column"><label class="p-1">info@mizbanplast.ir</label></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="text-white  mb-1">
                            <h3>آدرس</h3>
                            <hr>
                            <div class="row justify-content-center">
                                <p class="card-text text-center">تهران - اتوبان تهران-قم - (روبروی فرودگاه بین
                                    المللی
                                    امام خمینی) - شهرک صنعتی شمس آباد - بلوار نارنجستان - گلبرگ 12 - پلاک 26</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="text-white p-1 text-center">
                            <h3>ما را در شبکه های اجتماعی دنبال کنید</h3>
                            <hr>
                            <div class="container">
                                <a href="https://www.facebook.com/setareh.mizbanparsian" alt="facebooklink"
                                    target="_blank" rel="noopener noreferrer"><img class="social"
                                        src="https://i.olsh.me/icon?size=80..120..200&url=facebook.com" /></a>
                                <a href="https://www.instagram.com/mizbanplastic/" alt="instagram" target="_blank"
                                    rel="noopener noreferrer"><img class="social"
                                        src="https://www.instagram.com/favicon.ico" /></a>
                                <a href="https://www.linkedin.com/in/company-setareh-mizban-parsian-92bb98191/"
                                    alt="linkedin" target="_blank" rel="noopener noreferrer"><img class="social"
                                        src="https://static-exp1.licdn.com/scds/common/u/images/logos/favicons/v1/favicon.ico" /></a><a
                                    target="_blank" rel="noopener noreferrer" href="https://twitter.com/MizbanParsian"
                                    alt="twitterLink"><img class="social"
                                        src="https://i.olsh.me/icon?size=80..120..200&url=twitter.com" /></a>
                                <a target="_blank" rel="noopener noreferrer" href="mailto: info@mizbanplast.ir"
                                    alt="yahooLink"><img class="social" src="https://s.yimg.com/rz/l/favicon.ico" /></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </footer>
    </div>
</body>

</html>